html
   head
      include common/header
      link(rel="stylesheet", href="/css/index.min.css")
   body
      include common/head
      div.page
         div.main
            div.leftSideBar
               div.section
                     div.searchLocation
                        h1 按地区搜索
                        ul
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                        a.more(href="xxxx") MORE&gt;&gt;
                     div.searchSubject
                        h1 按科目搜索
                        ul
                           li
                              a(href="***") 小学数学
                           li
                              a(href="***") 小学语文
                           li
                              a(href="***") 初中数学
                           li
                              a(href="***") 初中英语
                           li
                              a(href="***") 初中语文
                           li
                              a(href="***") 初中化学
                           li
                              a(href="***") 初中物理
                           li
                              a(href="***") 高一数学
                           li
                              a(href="***") 高一英语
                           li
                              a(href="***") 高一物理
                           li
                              a(href="***") 高一化学
                           li
                              a(href="***") 高二数学
                           li
                              a(href="***") 高二英语
                           li
                              a(href="***") 高二语文
                           li
                              a(href="***") 高三数学
                        a.more(href="xxxx") MORE&gt;&gt;

                     div.searchUniversity
                        h1 按大学搜索
                        ul
                           li
                              a(href="***") 川大家教
                           li
                              a(href="***") 电子科大家教
                           li
                              a(href="***") 川师家教
                           li
                              a(href="***") 西财家教
                           li
                              a(href="***") 西南交大家教
                           li
                              a(href="***") 西南民族大学家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                           li
                              a(href="***") 青羊家教
                        a.more(href="xxxx") MORE&gt;&gt;
            div.content
               img(alt="zjdgx家教 1对1家教", src="img/index_gg.jpg")
               div.askTutor
               div.doTutor
               div.recommandUnniversityTutor
                  h1 推荐大学生教员
                  table(width="100%", border="0", cellpadding="0", cellspacing="0")
                     thead
                        tr
                           td 姓名
                           td 科目
                           td 就读学校
                           td 居住区域
                           td 详细资料
                     tbody
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看

               div.recommandExcellentTutor
                  h1 推荐专职老师
                  table(width="100%", border="0", cellpadding="0", cellspacing="0")
                     thead
                        tr
                           td 姓名
                           td 科目
                           td 目前身份
                           td 居住区域
                           td 详细资料
                     tbody
                        tr
                           td 台教员
                           td 高三英语
                           td 在职专业培训机构教师
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 初一初二语文
                           td 在职专业培训机构教师
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
                        tr
                           td 台教员
                           td 钢琴
                           td 四川音乐学院
                           td 武侯
                           td
                              a(href="####") 查看
            div.rightSideBar
               div.question
                  h1 常见问题
                  ul 
                     li
                        a(href="cxxx") 专业教师家教 VS 大学生家教, 应选哪个?
                     li
                        a(href="cxxx") 专业教师家教 VS 大学生家教, 应选哪个?
                     li
                        a(href="cxxx") 专业教师家教 VS 大学生家教, 应选哪个?
                     li
                        a(href="cxxx") 专业教师家教 VS 大学生家教, 应选哪个?
                     li
                        a(href="cxxx") 专业教师家教 VS 大学生家教, 应选哪个?
                     li
                        a(href="cxxx") 专业教师家教 VS 大学生家教, 应选哪个?
                     li
                        a(href="cxxx") 专业教师家教 VS 大学生家教, 应选哪个?
               div.intro <b> ZJDGX家教网</b> 是全国连锁家教机构【家教114】下属，服务成都中小学学生的专业 家教网。本着用心服务的理念、依托先进的互联网技术，成都家教网汇集成都各大名牌大学在校大学生教员和成都各区县中小学在职老师信息。1对1辅导，上门服务，针对每个学生不同的状况，提供个性化教学方案。以最高的效率帮助学生提升成绩。成都家教网是成都中小学学生家长找家教的第一选择。
               div.reservationRecord(title="预约记录")
                  h1 最新家教预约记录
                  ul
                     li 3分钟前阳女士预约了成都小学数学家教
                     li 3分钟前阳女士预约了成都小学数学家教
                     li 3分钟前阳女士预约了成都小学数学家教
                     li 3分钟前阳女士预约了成都小学数学家教
                     li 3分钟前阳女士预约了成都小学数学家教
                     li 3分钟前阳女士预约了成都小学数学家教
                     li 3分钟前阳女士预约了成都小学数学家教
                     li 3分钟前阳女士预约了成都小学数学家教
   div.footer
      div.hide
         form#register
            label 用 户 名：<input type="text" name="username" placeholder="用户名">
            label 邮    箱：<input type="text" name="email" placeholder="邮箱">
            label 密    码：<input type="password" name="email" placeholder="密码">
            label 确认密码：<input type="text" name="email" placeholder="邮箱">
            div.btnGroup
               span.btn.sure 保存
               span.btn.cancel 取消
      script(type="text/javascript", src="js/common/require.min.js")
      script.
         require(['jquery', 'common', 'zjdgxPopup'], function ($, zjdgx) {
            zjdgx.loadMain();
            $.popup('弹出框测试', {title: '弹出框', type: 'prompt'});
         });