!!! 5
html
    head
        title=title
    body
        ul.container
            ul
                - items.forEach(function(item){
                      li
                        a(href=item.href)=item.title
                - })