<div class="wrapper">
    <div class="inner">
        <h1>登录</h1>
        <i class="btn close">&times;</i>
        <div class="content">
            <div class="item"><label>用户名</label>:<input type="text" name="username" placeholder="用户名"></div>
            <div class="item"><label>密码</label>:<input type="password" name="password"></div>
        </div>
        <div class="btnGroup">
            <span class="btn btn-sure">{{sureText}}</span>
            <span class="btn btn-cancel">{{cancelText}}</span>
        </div>
    </div>
</div>
