<div class="item"><label>用户名</label>:<input type="text" name="name" placeholder="用户名"></div>
<div class="item"><label>邮箱</label>:<input type="email" name="email" placeholder="邮箱"></div>
<div class="item"><label>电话号码</label>:<input type="text" name="phone" placeholder="电话号码"></div>
<div class="item"><label>密码</label>:<input type="password" name="password"></div>
<div class="item"><label>确认密码</label>:<input type="password"></div>