//
   Created by nhn on 15/9/15.
html
   head
      include ../common/header
      link(rel="stylesheet", href="/dist/teacher.min.css")
   body
      include ../common/head
      div.page.teacher
         div#baiduMap
      div.footer
         script(type="text/javascript", src="/js/common/require.min.js")
         script(type="text/javascript", src="http://api.map.baidu.com/api?v=2.0&ak=1p68MjXrEC9a6GvCKNUqSqcx")
         script.
            require(['jquery', 'zjdgx'], function ($, Common) {
               window.zjdgx = new Common();
               $('a.register').click(function () {
                  require(['user/registerView'], function (RegisterView) {
                     $('body').append(new RegisterView(zjdgx).render().el);
                  });
                  return false;
               });
               var map = new BMap.Map('baiduMap');
               map.centerAndZoom('成都', 15);
               map.addEventListener('click', function (e) {
                  var markers = map.getOverlays();

                  $.each(markers, function (i, marker) {
                     map.removeOverlay(marker);
                  });

                  map.addOverlay(new BMap.Marker(e.point, {enableDragging: true}));
               });

               zjdgx.loadTeacher();
            });