.zjdgx-dropdown
    line-height 24px
    position relative
.dropdown-label
    height 24px
    padding 0 10px
    min-width 100px
    line-height 24px
    display inline-block
    border 1px solid #bdc6c4
    &:after
        content ''
        float right
        margin-top 9px
        display inline-block
        border 6px solid #bdc6c4
        border-color #bdc6c4 transparent transparent
.dropdown-option-list
    top 27px
    margin 0
    padding 0
    min-width 120px
    background #fff
    position absolute
    border 1px solid #bdc6c4
    li
        padding 0 10px
        list-style none