.pure-form
  .input-dropdown
    > input[type].nelo-input
      border-right none
      border-top-right-radius 0
      border-bottom-right-radius 0
      font-size 14px
      height 2.2em
      width 55px

    .nelo-label
      border-bottom-left-radius 0
      border-top-left-radius 0

    .nelo-dropdown__options
      min-width 8.55em
      right 0
