.zjdgx-save-loading
   width 40px
   height 24px
   margin 0 auto
   padding 4px 10px
   line-height 24px
   text-align center
   background-color #181419
   transition width 0.5s ease
.zjdgx-save-loading_save
   width 70px
.zjdgx-save-loading_button
   width 40px
   text-align: center;
   display: inline-block;
   vertical-align: text-bottom;
.circle-spinner
    width: 16px;
    height: 16px;
    margin: 0;
    display: inline-block;
    margin-top: 4px;
