html, body, ul, p, li, h1, input {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
	font-family: courier new;
}

input, pre {
	font-family: courier new;
}

.main {
    width: 600px;
    padding: 10px 0;
    margin: 20px auto 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px 3px #eee;
}

.main h1 {
    text-align: center;
    margin-bottom: 10px;
}
#todo {
    height: 40px;
	width: 560px;
    padding: 5px;
    display: block;
    margin: 0 auto;
    font-size: 36px;
    line-height: 40px;
    border: 1px solid #ccc;
}
.main .markAll {
	margin: 20px 15px;
}
.main #toggleAllComplete {
	margin-right: 3px;
	vertical-align: middle;
}
.main ul li {
    height: 40px;
    padding: 0 15px;
    list-style: none;
    line-height: 40px;
	border-bottom: 1px solid #ccc;
}
.main ul li:last-child {
	border: none;
}
.main ul li:hover {
	background-color: #E1E1E1;
}
.main ul li .destroy {
    width: 20px;
    height: 20px;
    float: right;
    display: none;
    margin: 10px 0;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
}
.main ul li:hover .destroy{
    display: inline-block;
}
.main ul li .destroy:hover {
    color: #fff;
    cursor: pointer;
    background: rgba(255,0,0,0.2);
}
.main ul li.done label {
    text-decoration: line-through;
}