<div class="selected">
    <span>搜索条件：</span>
    <ul></ul>
    <b>如果没有你需要的教员，请修改搜索条件</b>
</div>
<div class="teacher-type">
    <div class="area">
        <span>区域:</span>
        <a href="#" onClick="return false;">不限</a>
        <a href="#" onClick="return false;">青羊</a>
        <a href="#" onClick="return false;">浦江</a>
        <a href="#" onClick="return false;">双流</a>
        <a href="#" onClick="return false;">新津</a>
        <a href="#" onClick="return false;">郫县</a>
        <a href="#" onClick="return false;">金堂</a>
        <a href="#" onClick="return false;">崇州</a>
        <a href="#" onClick="return false;">邛崃</a>
        <a href="#" onClick="return false;">彭州</a>
        <a href="#" onClick="return false;">都江堰</a>
    </div>
    <div class="subject">
        <span>科目:</span>
        <a href="#" onClick="return false;">不限</a>
        <a href="#" onClick="return false;">小学</a>
        <a href="#" onClick="return false;">初中</a>
        <a href="#" onClick="return false;">高中</a>
        <a href="#" onClick="return false;">语言</a>
        <a href="#" onClick="return false;">音乐</a>
        <a href="#" onClick="return false;">其他</a>
    </div>
    <div class="school">
        <span>学校:</span>
        <a href="#" onClick="return false;">不限</a>
        <a href="#" onClick="return false;">川大</a>
        <a href="#" onClick="return false;">西南交大</a>
        <a href="#" onClick="return false;">电子科大</a>
        <a href="#" onClick="return false;">西南财大</a>
        <a href="#" onClick="return false;">西南民大</a>
        <a href="#" onClick="return false;">成都理工</a>
        <a href="#" onClick="return false;">华西大学</a>
        <a href="#" onClick="return false;">中医大</a>
        <a href="#" onClick="return false;">川师大</a>
        <a href="#" onClick="return false;">成信院</a>
        <a href="#" onClick="return false;">医学院</a>
        <a href="#" onClick="return false;">成都体院</a>
        <a href="#" onClick="return false;">川音</a>
        <a href="#" onClick="return false;">成都学院</a>
    </div>
    <div class="type">
        <span>类型:</span>
        <a href="#" onClick="return false;">不限</a>
        <a href="#" onClick="return false;">大学生</a>
        <a href="#" onClick="return false;">专职教师</a>
    </div>
    <div class="sex">
        <span>性别:</span>
        <a href="#" onClick="return false;">不限</a>
        <a href="#" onClick="return false;">男</a>
        <a href="#" onClick="return false;">女</a>
    </div>
</div>
<div class="teacher-list">
    <h2>教员列表</h2>
    <ul id="teacher-list"></ul>
</div>