div.header

    div.head
        span.login
            a(href="register",title="注册xxxx") 注册
    //
        span 欢迎光临xxxx

        span.login
            a(href="register",title="注册xxxx") 注册
            |&nbsp;|&nbsp;
            a(href="login",title="登录xxxx") 登录
    //
        span
            a(href="register", title="注册xxxx") 家教价格
            |&nbsp;
            a(href="register", title="注册xxxx") 付款方式
            |&nbsp;
            a(href="register", title="注册xxxx") 做家教流程
//
    div.logo
        span.img ZJDGX
        span.slim 教育的艺术不在传授，而在鼓舞和唤醒
    div.contact
        h2 全国统一家教热线
        p.tel 151-0836-4416
        p.time 服务时间: 9:00~20:30
            a.order(href="#", onclick="return false;") 24小时在线请家教
    div.banner
        ul
            li
                a(href="/zjdgx/portal/index.html") 成都家教
            li
                a(href="teacherSearch.html") 挑选老师
            li
                a(href="###") 英语家教
            li
                a(href="piano.html") 钢琴家教
            li
                a(href="") 数学家教
            li
                a(href="") 挑选学员