div.header
    div.logo
        a.img(herf="/") ZJDGX
        span.slim 教育的艺术不在传授，而在鼓舞和唤醒
    div.content
        div.links
            span.infos
                a(href="register", title="注册xxxx") 家教价格
                |&nbsp;
                a(href="register", title="注册xxxx") 付款方式
                |&nbsp;
                a(href="register", title="注册xxxx") 做家教流程
            span.login
                a.register(href="register",title="注册xxxx") 注册
                |&nbsp;|&nbsp;
                a.login(href="login",title="登录xxxx", onclick="return false;") 登录
        div.contact
            h2 全国统一家教热线
            p.tel 151-0836-4416
            p.time 服务时间: 9:00~20:30
                a.order(href="/newCourse.html") 24小时在线请家教
div.banner
    ul
        if (cur == 'index')
            li.cur
                a(href="/") 成都家教
        else
            li
                a(href="/") 成都家教
        if (cur == 'teacher')
            li.cur
                a(href="teacher.html") 挑选老师
        else
            li
                a(href="teacher.html") 挑选老师
        if (cur == 'student')
            li.cur
                a(href="student.html") 挑选学员
        else
            li
                a(href="student.html") 挑选学员