@charset "utf-8";

h1, h2, h3, ul, ol, p, body {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.5 "Microsoft Yahei", Helvetica, sans-serif;
    background-color: #ecf0f1;
}

li {
    list-style: none;
}

.page {
    padding: 10px;
    margin: 10px 150px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.header {
    height: 120px;
    padding: 0 100px;
    overflow: hidden;
    background-color: #fff;
}

.header .head {
    float: right;
    margin-right:40px;
}

.header .head .login {
    padding: 0 20px;
}

.header .logo {
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

.header .logo .img {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 60px;
}

.header .contact {
    float: right;
    margin-top: 20px;
    text-align: center;
    width: 400px;
}

.header .contact .tel {
    margin: 5px;
    font-size: 16px;
    color: #C30;
}

.header .contact .time a {
    padding-left: 40px;
}

/* banner
-------------------------*/
.banner {
    height: 30px;
    padding: 0 130px;
    overflow: hidden;
    line-height: 30px;
    background-color: #0064C4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.banner li {
    list-style: none;
    float: left;
}

.banner li a {
    color: #fff;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.banner li.first a {
    border-left: 1px solid #999;
}

.banner li.cur,
.banner li:hover{
    background-color: #004F9A;
}

.page .main {
    margin: 10px;
    overflow: hidden;
}