@charset "utf-8";

.teacher-list h2 {
    color: #000;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    border-left: 3px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
}

.teacher-type {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #dfdfe1;
}

#teacher-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: stretch;
    border: 1px solid #dfdfe1;
    padding: 10px 0 10px 10px;
    justify-content: space-between;
}

#teacher-list li.item {
    width: 240px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #dfdfe1;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#teacher-list li.item:hover {
    background-color: #f6f6f6;
}

#teacher-list .info {
    overflow: hidden;
    margin-bottom: 10px;
}

#teacher-list .info img {
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

#teacher-list .info ul {
    float: left;
}

#teacher-list .info li {
    overflow: hidden;
    max-width: 150px;
    margin-bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#teacher-list .info li:last-of-type {
    margin-bottom: 0;
}