@charset "utf-8";

.teacher-list .nav-list {
    color: #000;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    border-left: 3px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
}

.teacher-list .nav-list h2 {
    float: left;
}
.teacher-list .nav-list .pagination {
    float: right;
}

#teacher-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: stretch;
    border: 1px solid #dfdfe1;
    padding: 10px 0 10px 10px;
    justify-content: space-between;
}

#teacher-list li.item {
    width: 240px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #dfdfe1;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#teacher-list li.item:hover {
    background-color: #f6f6f6;
}

#teacher-list .info {
    overflow: hidden;
    margin-bottom: 10px;
}

#teacher-list .info img {
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

#teacher-list .info ul {
    float: left;
}

#teacher-list .info li {
    overflow: hidden;
    max-width: 150px;
    margin-bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#teacher-list .info li:last-of-type {
    margin-bottom: 0;
}

.pagination {
    float: right;
}

.pagination a {
    color: #333;
    margin-right: 10px;
    text-decoration: none;
}

.pagination a:hover {
    color: #000;
}

.pagination a.disabled {
    color: #aaa;
}

.pagination input {
    width: 40px;
    padding: 0 10px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #dfdfe1;
    background-color: #fefefe;
}

.pagination .dropdown {
    width: 40px;
    height: 20px;
    line-height: 20px;
    position: relative;
    display: inline-block;
    border: 1px solid #dfdfe1;
    background-color: #fefefe;
}

.pagination .dropdown label {
    z-index: 2;
    width: 31px;
    padding-left: 9px;
    position: relative;
    display: inline-block;
    background-color: #fff;
}
.pagination .dropdown label:after {
    top: 7px;
    right: 2px;
    content: '';
    position: absolute;
    display: inline-block;
    border: 5px solid #f00;
    border-color: #999 transparent transparent transparent;
}

.pagination .dropdown ul {
    display: none;
}

.pagination .dropdown ul.open {
    top: 19px;
    left: -1px;
    z-index: 1;
    width: 50px;
    display: block;
    padding-top: 1px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #dfdfe1;
}

.pagination .dropdown ul.open li {
    padding-left: 10px;
}

.pagination .dropdown ul.open li:hover {
    cursor: pointer;
    background-color: #ecf0f1;
}