@import '../variables.styl';

line-height = 2.667em

.nelo-input
  /* hide inner shadow in iOS */
  appearance none
  border 1px solid border-color
  border-radius border-radius-size
  box-shadow none
  box-sizing border-box
  font-size font-size
  height line-height
  line-height line-height
  margin 0 0 (font-size * 0.66) 0
  padding 0 .33em
  position relative
  width 100%

  &:focus, &.nelo-input_active
    border-color primary-color
    outline none

.pure-form
  input[type].nelo-input
    @extend .nelo-input

  .nelo-label
    @extend .color_disabled
    margin-bottom .84em

  .error, &.error
    input[type].nelo-input
      border-color error-color
