<div class="wrapper">
    <div class="inner">
        {{#if title}}
            <h1>{{title}}</h1>
        {{/if}}
        <i class="btn close">&times;</i>
        <div class="content"></div>
        <div class="btnGroup">
            {{#if sureText}}
                <span class="btn btn-sure">{{sureText}}</span>
            {{/if}}
            {{#if cancelText}}
                <span class="btn btn-cancel">{{cancelText}}</span>
            {{/if}}
        </div>
    </div>
</div>