<label class="selected" key="{selected.key}" val="{selected.value}">
    <span>{{selected.value}}</span>
    <i class="arrow-down"></i>
</label>
<ul>
    {{#each options}}
        <li key="{{this.key}}" val="{{this.value}}">{{this.value}}</li>
    {{/each}}
</ul>