/* media queries */
media-sm-width = 35.5em /* 568px */
media-md-width = 48em /* 768px */
media-lg-width = 64em /* 1024px */
media-xl-width = 80em /* 1280px */

/* color */
border-color = #BDC6C4
light-border-color = lighten(border-color, 70%)
caption-color = #444b47
disabled-color = #8f9d9d
disabled-bg-color = #e8e8e8
error-color = red
font-color = #333
dark-bg-color = #444b47
dark-bg-hover-color = lighten(dark-bg-color, 20%)
gray-bg-color = #f3f3f4
gray-bg-font-color = darken(gray-bg-color, 5%)
gray-bg-dark-font-color = darken(gray-bg-color, 50%)
link-color = #08c
primary-color = #23C778
hover-bg-color = lighten(primary-color, 80%)

/* size */
border-radius-size = 2px
font-size = 12px

/* decorations */
text-bold = 800

/* Convenient classes */
.border-bottom_none
  border-bottom none

.color_disabled
  color disabled-color

.overflow_visible
  overflow visible

.height_default
  min-height 2.834em

.error
  color error-color

.text-center
  text-align center

.text-right
  text-align right
