.zjdgx-canvas-upload
   canvas
      cursor move
   input
      display block
   .icon
      width: 18px;
      color: #aaa;
      height: 18px;
      font-size: 19px;
      line-height: 18px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #aaa;
      vertical-align: middle;
