doctype html
html
  head
    meta(http-equiv="content-type",content="text/html;charset=utf8")
    meta(name='date' content=date)
    title=title
    link(rel="stylesheet" href="/upload/css/upload.style.min.css")
  body
    include common/header.jade
    div.main
      #upload
      ul#fileList
    div.footer
    iframe#fileUpload(name='fileUpload' src='javascript:false')
    script(type='text/javascript' src='upload/js/upload.common.min.js')
    script(type='text/javascript' src='js/fileUpload/fileOperation.js')
    script(type='text/javascript' src='js/fileUpload/html5upload.js')
    script(type='text/javascript' src='js/fileUpload/main.js')