script(type='text/javascript', src='/js/common/require.js')
div.result !{result}
div.msg !{msg}
script(type='text/javascript').
    var res = #{result};
    if (res == 0) {
        top.uploadResult(0);
    }