//
   Created by nhn on 15/10/16.
html
   head
      include ../common/header
      link(rel="stylesheet", href="/dist/student.min.css")
   body
      include ../common/head
      div.page.student
      div.footer
         script(type="text/javascript", src="/js/common/require.min.js")
         script.
            require(['jquery', 'zjdgx'], function ($, Common) {
               window.zjdgx = new Common();
               zjdgx.loadTeacher();
            });