html
   head
      title!=title
   body
      h1!=message
      h2 用户名!{username}  邮箱!{email}

      form(action='/login', method='post')
         input(name='username', type='text')
         input(name='email', type='email')
         input(type='submit')