doctype html
html
	head
		title=title
		link(rel='stylesheet', href='todo/todo.css')
	body
		div.main
			h1 TODOS
			input#todo(type="text",placeholder="what needs to be done?")
			div.markAll
				input#toggleAllComplete(type="checkbox")
				label(for="toggleAllComplete") Mark all as complete
			ul
			div.event-demo
		script(src='common/require.js')
		script.
			require(['zjdgx'], function(zjdgx) {
				zjdgx.todoMain();
			});